<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil Complaint Rejected</title>
    <link rel="stylesheet" href="../public/leaveapproved.css">
</head>

<body>
    <div class="container">
        <h1>Civil Complaint Request Rejected</h1>
        <p><%=complaint.roll%>,<%=complaint.name%> civil complaint request has been rejected.</p>
    </div>
</body>

</html>
