<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejected Leave Requests</title>
    <link rel="stylesheet" href="../public/leaveaproved.css">
</head>

<body>
    <div class="container">
     
        <h1>Leave Request Rejected</h1>
        <p><%=leave.roll%>,<%=leave.name%> leave request has been rejected successfully. </p>
    </div>
</body>

</html>
