<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>\mess rejected</title>
    <link rel="stylesheet" href="../public/leaveaproved.css">
</head>

<body>
    <div class="container">
     
        <h1>Mess Complaint Rejected</h1>
       
        <p>Mess Complaint has been Rejected. </p>
    </div>
</body>

</html>
